[run]
branch = True
source = osis_async/osis_async
omit =
    */migrations/*
    */tests/*
    */management/*
    */admin.py
    */tasks/*

[report]
skip_covered = True
show_missing = True
sort = Miss
